/src/input_processing/data/
/delta_model/
/docs/
/input/
/output/
pyrightconfig.json

# Snakemake
.snakemake/
logs/
results/

# Project outputs
model_runs/
/tests/output/
figs/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
